<div [id]="getID()+'-table'">
  <mat-toolbar>
    <!-- todo paging and results size-->
  </mat-toolbar>
  <mat-paginator [length]="page.totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; onPaginateChange($event)">
  </mat-paginator>
  <mat-table [dataSource]="dataSource" matSort matSortActive="name" (matSortChange)="sortData($event)" matSortDirection="asc"
    matSortDisableClear>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon [routerLink]="['../create']">add_box</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let emp">
        <mat-icon [routerLink]="['../update/', emp.id]">edit</mat-icon>
        <mat-icon (click)="delete(emp.id)">delete</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>